INSTALL
Makefile.in
aclocal.m4
ar-lib
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/
missing
test-driver

Makefile
config.log
config.status
libpcre2-*.pc
libtool
pcre2-config
src/.deps
src/config.h
src/pcre2.h
src/stamp-h1

.libs
*.o
*.lo
*.a
*.la
src/.dirstamp
src/pcre2_chartables.c

pcre2grep
pcre2test
pcre2_jit_test

RunGrepTest.log
RunGrepTest.trs
RunTest.log
RunTest.trs
pcre2_jit_test.log
pcre2_jit_test.trs
test-suite.log

*~
