<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="icon" type="image/png" href="{{ "favicon-96x96.png" | relURL }}" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | relURL }}" />
	<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}" />

	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}" type="text/css" media="all" />
	<link rel="stylesheet" href="{{ "css/syntax.css" | relURL }}" type="text/css" media="all" />

	<script src="{{ "js/init-pagefind.js" | relURL }}" type="module"></script>

</head>

<body>
