<div class="nav-row nav-row-lhs">

<div class="nav-menu" tabindex="0">
    <div>Project</div>
    <ul>
        <li><a href="{{ "project/authors/" | relURL }}" title="Authorship and Contributors">AUTHORS</a></li>
        <li><a href="{{ "project/security/" | relURL }}" title="Security policies">SECURITY</a></li>
        <li><a href="{{ "project/licence/" | relURL }}" title="Licence">LICENCE</a></li>
    </ul>
</div>
<div class="nav-menu" tabindex="0">
    <div>Guides</div>
    <ul>
        <li><a href="{{ "guide/readme/" | relURL }}" title="General guidance">README</a></li>
        <li><a href="{{ "guide/non-autotools-build/" | relURL }}" title="Building on platforms that don't use Autotools">NON-AUTOTOOLS-BUILD</a></li>
    </ul>
</div>

<a class="nav-item" href="{{ "doc/" | relURL }}" title="Reference manual">Manual</a>

</div>